table,th,td{
    border: 1px solid rgb(73, 15, 15);
    border-collapse: collapse;

    text-align: center;
}

table{
    width: 400px;
}

tr:hover td{
    background-color: cornflowerblue;
}

a:visited{
    color: coral;
}

th{
    text-align: center;
    color: crimson;
}