table,th,td{
    border: 2px solid rgb(73, 15, 15);
    border-collapse: inherit;
    text-align: center;

}

table{
    /*align: center; */
    width: 300px;
    /*margin-left: 150px; */
}

h2{
    text-align: center;
}
tr:hover td{
    background-color: grey;
}

a:visited{
    color: coral;
}

th{
    text-align: center;
    color: crimson;
}

body {
  /* background-color: #ffe6e6; */
  background-image: url("/images/images.jpg");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-size: cover ;
  background-position: center;
}

table.indextable{
	margin-left: auto;
	margin-right: auto;
}

table.info-table{
	margin-left: auto;
	margin-right: auto;
}


th, td {
  text-align: left;
  padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #e0ebeb}


th {
  background-color: #92a8d1;
  color: white;
}

p{
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  color: blue;
  /*
  align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  */
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  box-align: center;
  font-size: 14px;
  
}

h1 {
    text-align: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: Black;
    text-shadow: 0 0 3px #9999ff;
}


h2{
	text-align: center; 
	font-family: Georgia;
	font-size: 30px;
	
	color: #880000;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
} 


.link {
    
    text-align: center;
    /*
      margin-left: 200px;
     word-spacing:.25em; */
}

.table-link{
	margin-left: 200px;
	margin-top: 250px;
    word-spacing:.25em;
	
}
