table,th,td{
    border: 2px solid rgb(73, 15, 15);
    border-collapse: inherit;

    text-align: center;

}

table{
    width: 300px;
    margin-left: 150px;
}

h2{
    margin-left: 150px;
}
tr:hover td{
    background-color: grey;
}

a:visited{
    color: coral;
}

th{
    text-align: center;
    color: crimson;
}

body{
    background-image: url("/images/images.jpg");
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover ;
    background-position: center;
}